<div class="card text-center">
    <div class="card-body">
        <h1>III</h1>
        <h2>[Chat GPT]</h2>
        <br />
        <div>
            Please click on the option that relates the more to your thoughts about the product
        </div>
        <br/>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td></td>
                    <td>strongly disagree</td>
                    <td>disagree</td>
                    <td>somewhat disagree</td>
                    <td>neither agree or disagree</td>
                    <td>somewhat agree</td>
                    <td>agree</td>
                    <td>strongly agree</td>
                </tr>
            </thead>
            <tbody class="text-left">
                <tr id="pregunta1">
                    <td>The product exhilarates me. </td>
                    <ng-container *ngFor="let item of opcionesPregunta;">
                        <td class="text-center">
                            <input type="radio" id="{{'pipe1_'+item}}" name="pregunta1" (change)="guardarRespuesta(1,item)">
                            <!--img id="{{'pipe1_'+item}}" class="img-rb" src="assets/images/kart_box.png" (click)="cambiarImagen(1,item)" /-->
                        </td>
                    </ng-container>
                </tr>
                <tr id="pregunta2">
                    <td>The product makes me tired.  </td>
                    <ng-container *ngFor="let item of opcionesPregunta;">
                        <td class="text-center">
                            <input type="radio" id="{{'pipe2_'+item}}" name="pregunta2" (change)="guardarRespuesta(2,item)">
                            <!--img id="{{'pipe1_'+item}}" class="img-rb" src="assets/images/kart_box.png" (click)="cambiarImagen(1,item)" /-->
                        </td>
                    </ng-container>
                </tr>
                <tr id="pregunta3">
                    <td>The product annoys me.  </td>
                    <ng-container *ngFor="let item of opcionesPregunta;">
                        <td class="text-center">
                            <input type="radio" id="{{'pipe3_'+item}}" name="pregunta3" (change)="guardarRespuesta(3,item)">
                            <!--img id="{{'pipe1_'+item}}" class="img-rb" src="assets/images/kart_box.png" (click)="cambiarImagen(1,item)" /-->
                        </td>
                    </ng-container>
                </tr>
                <tr  id="pregunta4">
                    <td>The product relaxes me.  </td>
                    <ng-container *ngFor="let item of opcionesPregunta;">
                        <td class="text-center">
                            <input type="radio" id="{{'pipe4_'+item}}" name="pregunta4" (change)="guardarRespuesta(4,item)">
                            <!--img id="{{'pipe1_'+item}}" class="img-rb" src="assets/images/kart_box.png" (click)="cambiarImagen(1,item)" /-->
                        </td>
                    </ng-container>
                </tr>
                <tr id="pregunta5">
                    <td>When using this product I feel exhausted.   </td>
                    <ng-container *ngFor="let item of opcionesPregunta;">
                        <td class="text-center">
                            <input type="radio" id="{{'pipe5_'+item}}" name="pregunta5" (change)="guardarRespuesta(5,item)">
                            <!--img id="{{'pipe1_'+item}}" class="img-rb" src="assets/images/kart_box.png" (click)="cambiarImagen(1,item)" /-->
                        </td>
                    </ng-container>
                </tr>
                <tr id="pregunta6">
                    <td>The product makes me feel happy. </td>
                    <ng-container *ngFor="let item of opcionesPregunta;">
                        <td class="text-center">
                            <input type="radio" id="{{'pipe6_'+item}}" name="pregunta6" (change)="guardarRespuesta(6,item)">
                            <!--img id="{{'pipe1_'+item}}" class="img-rb" src="assets/images/kart_box.png" (click)="cambiarImagen(1,item)" /-->
                        </td>
                    </ng-container>
                </tr>
                <tr id="pregunta7">
                    <td>The product frustrates me.</td>
                    <ng-container *ngFor="let item of opcionesPregunta;">
                        <td class="text-center">
                            <input type="radio" id="{{'pipe7_'+item}}" name="pregunta7" (change)="guardarRespuesta(7,item)">
                            <!--img id="{{'pipe1_'+item}}" class="img-rb" src="assets/images/kart_box.png" (click)="cambiarImagen(1,item)" /-->
                        </td>
                    </ng-container>
                </tr>
                <tr id="pregunta8">
                    <td>The product makes me feel euphoric.   </td>
                    <ng-container *ngFor="let item of opcionesPregunta;">
                        <td class="text-center">
                            <input type="radio" id="{{'pipe8_'+item}}" name="pregunta8" (change)="guardarRespuesta(8,item)">
                            <!--img id="{{'pipe1_'+item}}" class="img-rb" src="assets/images/kart_box.png" (click)="cambiarImagen(1,item)" /-->
                        </td>
                    </ng-container>
                </tr>
                <tr id="pregunta9">
                    <td>The product makes me feel passive.  </td>
                    <ng-container *ngFor="let item of opcionesPregunta;">
                        <td class="text-center">
                            <input type="radio" id="{{'pipe9_'+item}}" name="pregunta9" (change)="guardarRespuesta(9,item)">
                            <!--img id="{{'pipe1_'+item}}" class="img-rb" src="assets/images/kart_box.png" (click)="cambiarImagen(1,item)" /-->
                        </td>
                    </ng-container>
                </tr>
                <tr id="pregunta10">
                    <td>The product calms me.  </td>
                    <ng-container *ngFor="let item of opcionesPregunta;">
                        <td class="text-center">
                            <input type="radio" id="{{'pipe10_'+item}}" name="pregunta10" (change)="guardarRespuesta(10,item)">
                            <!--img id="{{'pipe1_'+item}}" class="img-rb" src="assets/images/kart_box.png" (click)="cambiarImagen(1,item)" /-->
                        </td>
                    </ng-container>
                </tr>
                <tr id="pregunta11">
                    <td>When using this product, I feel cheerful.  </td>
                    <ng-container *ngFor="let item of opcionesPregunta;">
                        <td class="text-center">
                            <input type="radio" id="{{'pipe11_'+item}}" name="pregunta11" (change)="guardarRespuesta(11,item)">
                            <!--img id="{{'pipe1_'+item}}" class="img-rb" src="assets/images/kart_box.png" (click)="cambiarImagen(1,item)" /-->
                        </td>
                    </ng-container>
                </tr>
                <tr id="pregunta12">
                    <td>The product angers me.  </td>
                    <ng-container *ngFor="let item of opcionesPregunta;">
                        <td class="text-center">
                            <input type="radio" id="{{'pipe12_'+item}}" name="pregunta12" (change)="guardarRespuesta(12,item)">
                            <!--img id="{{'pipe1_'+item}}" class="img-rb" src="assets/images/kart_box.png" (click)="cambiarImagen(1,item)" /-->
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="alert alert-danger" *ngIf="isVisible">
        You must answer all questions to continue
    </div>
    <div class="card-footer">
        <div class="text-center btn-group">
            <a class="btn btn-primary" (click)="validarRespuestas()">Next ></a>
        </div>
    </div>
</div>
